<style>
body {
  height: 400px;
  background-image: url("https://img.freepik.com/foto-gratis/plano-mapa-juguete-blanco-vista-superior_23-2148666303.jpg?w=826&t=st=1684433443~exp=1684434043~hmac=b3bd21f840d32957a1da26563f288fe6cca3be6bada60d4101ef1e1d40687cda");
  background-size: cover;
  background-repeat:no-repeat;
  background-position-x:25%%;
  background-position-y:25%%;

}
</style>

<h1>Places I´ve been</h1>
 

   <% for place in @places %>
    <p>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </p>
   <% end %>

<br>
</br>

<p><b><a href="/places/new">New place</a></b></p>